<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="AlbertMage\WeChatPay\Api\PaymentManagementInterface" type="AlbertMage\WeChatPay\Model\PaymentManagement"/>
    <preference for="AlbertMage\WeChatPay\Api\Data\QrcodeInterface" type="AlbertMage\WeChatPay\Model\Data\Qrcode"/>
    <preference for="AlbertMage\WeChatPay\Api\Data\JsapiInterface" type="AlbertMage\WeChatPay\Model\Data\Jsapi"/>
	<type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="DownloadWeChatCertCommand" xsi:type="object">AlbertMage\WeChatPay\Console\Command\DownloadWeChatCertCommand</item>
            </argument>
        </arguments>
    </type>
</config>