<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * Module Created By : Rohan Hapani
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="wechatpay" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>WeChat Payment V3 - powered by PHPDigital</label>
                <field id="active" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="mch_test" translate="label" required="true" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Test</label>
                </field>
                <field id="mch_id" translate="label" required="true" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant ID</label>
                </field>
                <field id="mp_app_id" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>MP App ID</label>
                </field>
                <field id="mini_app_id" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mini App ID</label>
                </field>
                <field id="combine_app_id" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Combine App ID</label>
                </field>
                <field id="combine_mch_id" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Combine Merchant ID</label>
                </field>
                <field id="mch_secret_key" translate="label" required="true" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant Secret Key</label>
                </field>
                <field id="mch_secret_cert_path" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="9" showInDefault="1" showInWebsite="1" >
                    <label>Merchant Secret Cert Path</label>
                    <backend_model>Albert\Magento\WeChatPay\Model\Config\Backend\Certificate</backend_model>
                    <upload_dir config="system" scope_info="1">certificate/wechatpay</upload_dir>
                </field>
                <field id="mch_public_cert_path" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="10" showInDefault="1" showInWebsite="1" >
                    <label>Merchant Public Cert Path</label>
                    <backend_model>Albert\Magento\WeChatPay\Model\Config\Backend\Certificate</backend_model>
                    <upload_dir config="system" scope_info="1">certificate/wechatpay</upload_dir>
                </field>
                <field id="wechatpay_serial" translate="label" required="true" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Wechatpay Serial No</label>
                </field>
                <field id="wechat_public_cert_path" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="12" showInDefault="1" showInWebsite="1" >
                    <label>WeChat Public Cert Path</label>
                    <backend_model>Albert\Magento\WeChatPay\Model\Config\Backend\Certificate</backend_model>
                    <upload_dir config="system" scope_info="1">certificate/wechatpay</upload_dir>
                </field>
                <field id="notify_url" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Notify Url</label>
                </field>
                <field id="order_status" translate="label" type="select" sortOrder="14" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Order Status When Payment Accepted</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
                </field>
                <field id="log_active" translate="label comment" sortOrder="15" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Log Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>